{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Formulario Cliente{% endblock %}
{% block main %}

{% load static %}

    {% if pes %}

    <h1 class="home">Cliente:</h1>

    <form action="{% url 'update_cliente' pes.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ client_form|bootstrap }}
        <button type="submit" class="btn btn-info">Alterar</button>
    </form>

    {% else %}

    <h1 class="home">Cadastro novo cliente:</h1>

    <form action="{% url 'novo_cliente' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ novo_form|bootstrap }}
        <button type="submit" class="btn btn-info">Salvar</button>

    {% endif %}

    </form>

{% endblock %}