<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pessoa</title>
<!--    <link rel="stylesheet" href="{% static 'reset.css' %}">-->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="home">{{ pessoa.first_name }} {{ pessoa.last_name }}</h1>
        <ul>
            <li>{{ pessoa.age }} anos de idade</li>
            <li>R$ {{ pessoa.salary }}</li>
            <li>{{ pessoa.bio }}</li>
        </ul>
    {% if pessoa.foto %}
    <img src="{{ pessoa.foto.url }}">
    {% else %}
    {% endif %}
    <form action="{% url 'update_cliente' pessoa.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
      <button type="submit">Alterar dados</button>
    </form>
    <form action="{% url 'delete_cliente' pessoa.id %}" method="GET" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit">Deletar cliente</button>
    </form>
</body>
</html>