<!DOCTYPE html>
{% extends 'base.html' %}
{% block main %}

{% load static %}

<h1 class="home">Tem certeza que quer deletar {{ pessoa.first_name }} {{ pessoa.last_name }}</h1>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <form action="{% url 'delete_cliente' pessoa.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Sim</button>
            </form>
        </div>
        <div class="col-sm">
            <form action="{% url 'lista_cliente' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" class="btn btn-info">Não</button>
            </form>
        </div>
    </div>
</div>



{% endblock %}