<!DOCTYPE html>
{% extends 'base.html' %}
{% block main %}
{% load static %}
{% for pessoa in pessoas.all %}
<div class="row">
    <div class="col-sm">
        <h2><a href="{% url 'cliente' pessoa.id %}">{{ pessoa.first_name }} {{ pessoa.last_name }}</a></h2>
    </div>
    <div class="col-sm">
        <li>{{ pessoa.age }} anos de idade</li>
        <li>R$ {{ pessoa.salary}}</li>
        <li>{{ pessoa.bio }}</li>
    </div>
    <div class="col-sm">
        {% if pessoa.foto %}
        <img src="{{ pessoa.foto.url }}" class="img-fluid" alt="{{ pessoa.first_name }}"/>
        {% else %}
        {% endif %}
        <br />
    </div>
</div>
<br /><br />
{% endfor %}
{% endblock %}